.container {
    font-size: 18px;
}
.numbers {
    text-align: center;
    margin: 15px 0px;
}

.number {
    font-size: 20px;
    width : 40px; height: 40px;
    border: 1px solid black;
    border-radius: 40px;
    margin : 10px;
    padding : 18px 9px 0px 9px;
    background-color: rgb(247, 144, 130);
    display: inline-block;
}